:root{
    --headcellcolor: grey;
    --bodycellcolor: rgb(210, 204, 204);
    --foodcolor: rgb(205, 225, 205);
    --orange1: #f0691c;
    --orange2: #f99b08;
    --green1: #507910;
    --green2: #ced716;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(var(--green1), var(--green2)); 
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maingridcontainer{
    display: grid;
    /* grid-template: repeat(5, 100px) / repeat(5, 100px) ; */
    border: 50px solid black;
    border-image: url("snake border image.png") 500 round;
}

.gridcell{
    border: 1px solid black;
}

#gameheading{
    text-align: center;
    font-family: Notable;
    font-family: Orbitron;
    font-weight: bolder;
    color: var(--orange2);
    align-self: center;
    justify-self: center;
    text-align: center;
}

#gameheading::first-letter{
    color: var(--orange1)
}

#statusheading{
     font-family: Notable;
     font-family: Orbitron;
     justify-self: center;
     align-self: center;
}

.headcell {
    background-color: var(--orange1);
}

.bodycell {
    background-color: var(--orange2);
}

.foodcell{
    background-color: var(--green1);
}

#startbutton{
    align-self: center;
    margin-top: 5px;
    font-family: Orbitron;
}

#scoreboard{
    display: none;
    align-self: center;
    margin-top: 0.5rem;
}

#settingsmodal{
    background-color: #ced716;
}

.modal-content{
    background-color: var(--green1);
    font-family: Orbitron;
}

#gridsizeoption, #speedoption, label{
    margin-top: 0.5rem;
}

.gameover{
    background-image: linear-gradient(red);
}

.gamewin{
    background-image: linear-gradient(green);
}
